html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: rgba(237, 239, 227, 0.80);;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
}

div.indexBack {
	position: absolute;
  padding: 20px 20px 20px 20px;
  top: 0%;
  left: 0;
  background-image: url("../public/images/world.png");
  filter: blur(6px);
  z-index: 0;
  height: 100%;
  width: 100%;
}

div.indexMain {
  position: absolute;
  padding: 20px 20px 20px 20px;
  top: 0%;
  left: 0;
  h-align: center;
  height: 100%;
  width: 85%;
}

div.cardBody {
  height: 85px;
  width: 95%;
  background-color: rgba(237, 239, 227, 0.80);
  display: inline-block;

  transition: background-color 0.5s ease-out 10ms;

  /*background-image: linear-gradient(rgb(237, 239, 227), rgb(223, 232, 217));*/
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin: 7px 7px 7px 7px;
}

div.cardBody:hover {
  height: 85px;
  width: 95%;
  background-color: rgba(217, 219, 207, 1.0);
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  box-shadow: 3px 3px rgba(217, 219, 207, 0.5), -.3em 0 .4em rgba(217, 219, 207, 0.5);
  margin: 7px 7px 7px 7px;
}

/*TAILWIND CSS BEGINS HERE --------------------*/